.chat-container {
  position: absolute;
  right: 10px;
  bottom: 0px;
  left: 10px;
  height: 30%;
  max-height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 2px solid #000;
  border-radius: 4px;
  overflow: hidden;
  background: #b6f7fe; 
  font-family: 'Bubblegum Sans', cursive; 
}

.chat-messages {
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse; /* Newest messages at the bottom */
  padding: 10px;
  height: 0; /* Ensures that the chat messages div doesn't push the input out of view */
  flex-grow: 1;
}

.message {
  background: #e9ddff; 
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
  max-width: 80%; /* Makes messages look like speech bubbles */
  word-break: break-word; /* Ensures text breaks to prevent overflow */
}

.chat-form {
  display: flex;
  padding: 0 10px 10px;
  background-color: #b6f7fe; 
}

.chat-input {
  flex-grow: 1;
  margin-right: 8px;
  padding: 8px;
  border: 2px solid #000;
  border-radius: 4px;
}

.send-button {
  padding: 8px 16px;
  background-color: #fcb0d1; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
