.cheating {
  display: flex; /* Use flexbox to align items */
  justify-content: flex-start; /* Align items to the start (left) of the flex container */
}

.button-container {
  display: flex; /* Use flexbox to align items */
  align-items: flex-end; /* Align items to the bottom of the flex container */
}

.pixelated-image {
  image-rendering: pixelated; /* Apply pixelation to the image */
}
