/*.grid {
    display: grid;
    grid-template-rows: repeat(10, 30px);
    grid-template-columns: repeat(10, 30px);
    gap: 1px;
}*/
.crossword-grid {
    margin-top:15px;
}
.color-picker, .grid {

}
.color-picker {
    margin-top: 10px;
}
.cell {
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cell-wrapper {
  width: 48px; /* Adjust width to match the width of each cell */
  height: 48px; /* Adjust height to match the height of each cell */
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell-wrapper::after {
  display: block;
  padding-bottom: 100%; /* Maintains square shape */
}
.cell:hover {
    background-color: #f0f0f0;
}

.cell.across {
    background-color: #eff2ff;
    /* diff colors for diff direcitons*/
}

.cell.down {
    background-color: #fff8e1;
    /* background color for cells in down direction */
}