.crossword-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr)); /* Adjust for square cells */
  grid-gap: 1px; /* Space between cells */
  justify-content: center; /* Center grid horizontally */
  align-content: center; /* Center grid vertically */
  max-width: 80%; /* Limit the size to not take the full page */
  margin: auto; /* Center within the parent container */
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1; /* Keep cells square */
  border: 1px solid #000;
  background-color: #fff; 
}

.grid-cell input {
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  font-size: 1rem; /* Adjust font size as needed */
  background: transparent;
}

.black-cell {
  background-color: #000;
}

/* Add media query for smaller screens to adjust layout */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    max-width: 95vw;
    max-height: 95vh;
  }

  .grid-cell input {
    font-size: calc(2vmin + 2vmax); /* Increase font size for better readability */
  }
}