.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height of the viewport */
    background-color: #ffad9d; 
    /* font-family: 'Bubblegum Sans', cursive;  */
  }
  
  .home-title {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .create-room-button {
    padding: 15px 30px;
    font-size: 1.5rem;
    background-color: #ffffff;
    color: #ffad9d; 
    border: 2px solid #000;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .create-room-button:hover {
    transform: scale(1.05);
  }
  
  /* Add responsiveness for smaller screens */
  @media (max-width: 768px) {
    .home-title {
      font-size: 2rem;
    }
  
    .create-room-button {
      padding: 10px 20px;
      font-size: 1.2rem;
    }
  }
  