.options {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
    /*flex-direction: column;*/
    /* font-family: 'Bubblegum Sans', cursive;  */
  }
  
  .home-page {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    height: 100vh;
    background-color: #ffad9d;
  }

  .home-title {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .create-room-button {
    /*padding: 15px 30px;*/
    font-size: 1.5rem;
    background-color: #ffffff;
    color: #ffad9d; 
    border: 2px solid #000;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .create-room-button:hover {
    transform: scale(1.05);
  }

  .join-room-form {
    margin: 10px;
  }

  .options, .logo {
    padding: 20px;
  }

  .home-image {
    image-rendering: pixelated;
  }
  
  /* Add responsiveness for smaller screens */
  @media (max-width: 768px) {
    .home-title {
      font-size: 2rem;
    }
  
    .create-room-button {
      padding: 10px 20px;
      font-size: 1.2rem;
    }
  }
  